#contact .address {
  font-size: 18px;
  color: #4E4C48;
  letter-spacing: 0;
  margin-bottom:20px;
  line-height: 20px;
}

#contact .click-map {
  font-size: 18px;
  color: #969300;
  letter-spacing: 0;
  line-height: 20px;
  text-decoration:underline;
}

.click-map:hover {
  color:#969300 !important;
}

#contact .patient-hotline {
  font-size: 18px;
  color: #4E4C48;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom:0;
}
#contact .text-phone-1, #contact .text-phone-1 a {
  color:#E17009;
  font-size:30px;
  font-weight:700;
}

#contact .button {
  border-radius: 39px;
  margin-bottom:25px;
}

#contact .patient-hotline-old {
  font-size: 16px;
  color: #4E4C48;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom:0;
}

#contact .text-phone-2, #contact .text-phone-2 a {
  color:#E17009;
  font-size:24px;
  font-weight:700;
}

#contact .office-hours {
  font-size: 21px;
  color: #969300;
  letter-spacing: 0.4px;
  line-height: 20px;
  font-weight:700;
  margin-bottom:5px;
}
#contact .hour {
  font-size: 18px;
  color: #4E4C48;
  margin-bottom:0;

}

#contact img {
  margin-bottom:-5px;
}
#contact {
  max-height:800px;
}

#contact .col-xs-4 {
  text-align:left;
  padding-left:60px;
}
#contact .col-xs-8 {
  text-align:left;
  padding-left:50px;

}

.button-2:hover {
  text-shadow:none;
}