#no-insurance h2 {
  font-size: 64px;
  color: #E17009;
  letter-spacing: 0;
  margin-bottom:20px;
  line-height: 41px;
}
#no-insurance h3 {
  font-weight:700;
  font-family:"PT Serif", sans-serif;
  font-size: 33px;
  color: #E17009;
  letter-spacing: 0;
  line-height: 41px;
  margin-bottom:40px;
}

#no-insurance h4 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 26px;
  color: #34260A;
  letter-spacing: 0;
  line-height: 28px;
  font-weight:400;
}
#no-insurance h5 {
  font-family: "PT Serif", sans-serif;
  font-weight:700;
  font-size: 30px;
  color: #E17009;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom:30px;
}

#no-insurance p {
  margin-bottom:0px;
  font-size: 21px;
  color: #34260A;
  letter-spacing: 0;
  line-height: 36px;
}

#no-insurance {
  padding:60px 0;
  background-image:url('../images/membership-bkgd.jpg');
  background-size:cover;
}
#no-insurance .button {
  margin-top:35px;
  padding-left:70px;
  padding-right:70px;
}
#no-insurance > div > div > div.col-sm-5.center {
  margin-top:50px;
}

@media (max-width:1350px) {
  #no-insurance {
    background-position-x:50%;
  }
  #no-insurance h2 {
    font-size:40px;
  }
  #no-insurance h3 {
    font-size:26px;
  }
  #no-insurance h4 {
    font-size:24px;
  }
  #no-insurance h5 {
    font-size:26px;
  }
  #no-insurance p {
    font-size:18px;
  }
  .device-md #no-insurance, .device-sm #no-insurance, .device-xs #no-insurance, .device-xxs #no-insurance {
    background: #CCD6D2;
  }
}
.device-xxs #no-insurance h3 {
  font-size:24px;
}
.device-xxs #no-insurance h2 {
  font-size:36px;
}

.device-xxs #no-insurance h4 {
  font-size:22px;
}
.device-xxs #no-insurance h5 {
  font-size:24px;
}