#no-insurance h2 {
  font-size: 64px;
  color: #E17009;
  letter-spacing: 0;
  margin-bottom:20px;
  line-height: 41px;
}
#no-insurance h3 {
  font-weight:700;
  font-family:"PT Serif", sans-serif;
  font-size: 33px;
  color: #E17009;
  letter-spacing: 0;
  line-height: 41px;
  margin-bottom:40px;
}

#no-insurance h4 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 26px;
  color: #34260A;
  letter-spacing: 0;
  line-height: 20px;
  font-weight:400;
}
#no-insurance h5 {
  font-family: "PT Serif", sans-serif;
  font-weight:700;
  font-size: 30px;
  color: #E17009;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom:30px;
}

#no-insurance p {
  margin-bottom:0px;
  font-size: 21px;
  color: #34260A;
  letter-spacing: 0;
  line-height: 36px;
}

#no-insurance {
  padding:60px 0;
  background-image:url('../images/membership-bkgd.jpg');
  background-size:cover;
}
#no-insurance .button {
  margin-top:35px;
  padding-left:60px;
  padding-right:60px;
}
#no-insurance > div > div > div.col-sm-5.center {
  margin-top:50px;
}