/** PHONE SLUG **/

$background: #FFF;
$text-color: #4E4C48;
$phone-color: #E17009;


.phone-slug {
  background: $background;
  padding-top:25px;
  padding-bottom:0px;
}
.phone-slug h6 {
  font-size:18px;
  color:$text-color;
  line-height:19px;
  font-weight:400;
  font-family:'PT Sans Narrow', sans-serif;
  margin-bottom:4px;
}
.phone-slug .new-hotline {
  font-size:36px;
  font-weight:700;
  line-height:25px;
}
.phone-slug .new-hotline a {
  color:$phone-color;
  font-size:30px;
}
.device-xs .phone-slug .new-hotline, .device-xxs .phone-slug .new-hotline {
  margin-bottom:20px;
}
.phone-slug .old-hotline {
  font-size:21px;
  color:$text-color;
  margin-top:15px;
  line-height:25px !important;
}
.phone-slug .old-hotline a {
  color:$phone-color;
  font-weight:700;
  font-size:24px;
}
.phone-slug  .col-sm-6.tleft {
  border-left:1px solid #AFA59C;
}
.phone-slug .button {
  margin:2.5px 0;
}
.device-xxs .phone-slug .button {
  padding-left:15px;
  padding-right:15px;
  width:100%;
}

.device-xs .phone-slug h6, .device-xxs .phone-slug h6 {
  font-size:24px;
  font-weight:300;
  margin-bottom:10px;
}

.device-xs .phone-slug .col-sm-6.tright, .device-xxs .phone-slug .col-sm-6.tright {
  text-align:center !important;
}
.device-xs .phone-slug .col-sm-6.tleft, .device-xxs .phone-slug .col-sm-6.tleft {
  text-align:center !important;
  border-left:none;
}

#phone-slug-2 .phone-slug .new-hotline a {
  font-size:32px;
}
#phone-slug-2 h6 {
  color:#34260A;
}

#phone-slug-2 {
  padding-top:30px;
  padding-bottom:30px;
  background:#F8F6F4;
}