<section id="slider" class="slider-parallax full-screen with-header swiper_wrapper clearfix">

    <div class="slider-parallax-inner">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide" id="slide-1" style="background-image: url('images/slide1.jpg');">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-left">
                            <h2 data-caption-animate="fadeInUp" data-caption-delay="200">Welcome to Canvas</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">Create just what you need for your Perfect Website. Choose from a wide range of Elements &amp; simply put them on our Canvas.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="slide-2" style="background-image:url('images/slide2.jpg');">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-right">
                            <h2 data-caption-animate="fadeInUp">Beautifully Flexible</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="slide-3" style="background-image: url('images/slide3.jpg;">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-left">
                            <h2 data-caption-animate="fadeInUp" data-caption-delay="200">Welcome to Canvas</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">Create just what you need for your Perfect Website. Choose from a wide range of Elements &amp; simply put them on our Canvas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clear"></div>