<div class="body-overlay"></div>

<!-- Sidebar ===================
============================== -->
<div id="side-panel">

    <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>

    <div class="side-panel-wrap">

        <div class="widget clearfix">

            <h5>KINARD FAMILY DENTAL</h5>
            <h6>Dr. Sarah Kinard </h6>
            <h6>Dr. Donna Gottwald</h6>
            <h6 class="bottommargin-sm">Dr. Shelley Sproull</h6>
            <p>New Patient Hotline:</p>
            <p class="phone"><a href="tel:+18886826495">(888) 682&#8209;6495</a></p>
            <p>Existing Patients Call:</p>
            <p class="phone"><a href="tel:+12106951200">(210) 695&#8209;1200</a></p>
            <a class="widget-address" href="https://www.google.com/maps/place/12740+Bandera+Rd+%23100,+Helotes,+TX+78023/@29.562499,-98.6817171,17z/data=!3m1!4b1!4m5!3m4!1s0x865c688d561064d7:0xe323586ccf2cbbe0!8m2!3d29.562499!4d-98.6817171" target="_blank"><p>12740 Bandera Rd</p>
                <p>Suite #100</p>
                <p>Helotes, TX 78023</p></a>
        </div>

        <!-- Connect With Us Widget ====
        ========================= -->
        <div class="widget clearfix">
            <p>Connect with us:</p>
            <a href="https://www.facebook.com/Kinard-Family-Dental-122723584412736/" target="_blank" class="social-icon si-colored si-facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
            </a>
            <a href="https://plus.google.com/u/0/+Dgfamilydentistry" target="_blank" class="social-icon si-colored si-gplus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
            </a>
            <a href="https://www.instagram.com/kinarddental/" target="_blank" class="social-icon si-colored si-instagram">
                <i class="icon-instagram"></i>
                <i class="icon-instagram"></i>
            </a>
            <a href="https://www.yelp.com/biz/kinard-family-dental-helotes" target="_blank" class="social-icon si-colored si-yelp">
                <i class="icon-yelp"></i>
                <i class="icon-yelp"></i>
            </a>
        </div>

    </div>

</div>